@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=Bungee&family=Indie+Flower&family=Jersey+15&family=Jersey+25&family=Pixelify+Sans:wght@400..700&family=Rubik+Mono+One&family=Russo+One&family=Seymour+One&family=Tac+One&family=Titan+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(229, 232, 238);
}

header {
  display: flex;
  flex-direction: column;
}

#head-car {
  height: 40vh;
  object-fit: cover;
}

div#intro {
  display: flex;  
  margin: 20px auto;  
}
.car-wheel {
  width: 120px;
  height: 120px; 
  animation: spin 2s linear infinite; 
  margin: 20px;  
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
}

div#intro span {
  font-size: 30px;
  color: rgb(0, 84, 206);  
  font-family: "Pixelify Sans", sans-serif;  
  font-weight: bold;
  padding: 5px;
}

#motto2 {
  text-align: center;
}
#motto3 {
  text-align: end;
}

.car-side {
  max-width: 15vw;
  object-fit: cover;
}
.main-wrapper {
  display: flex;
}

main {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  justify-content: center;
}

.car-list-wrapper {
  border-radius: 15px;  
  box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
}

.search {
  display: flex;  
}

#search-form {
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
  flex-grow: 0.1;
}

#search-form label {
  background-color: rgb(0, 84, 206);
  color: whitesmoke;
  text-transform: uppercase;
  text-align: center;
  font-family: "Jersey 25", sans-serif;
  font-size: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#search-form input {
  font-family: "Jersey 25", sans-serif;
  color: black;
  font-size: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul#car-list {  
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-right: 40px;
  max-height: 1100px;
}

ul#car-list > li {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: ghostwhite;  
}

ul#car-list > li:hover {
  box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
}

.car-main-picture {
  height: 200px;
  width: 250px;
  object-fit: cover;  
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.description {
  display: flex;
  width: 20vw;
  flex-direction: column;
}

.item-att {
  color: rgb(0, 84, 206);
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  width: 140px;
  margin-right: 25px;
  font-family: "Russo One", sans-serif;  
  text-transform: uppercase;
  font-size: 13px;
}

.item-att-val {
  color: rgb(0, 84, 206);
  padding: 5px;
  font-family: "Russo One", sans-serif;  
  text-transform: uppercase;
  font-size: 13px;
}

#car-list .car-name .item-att-val {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 84, 206);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 30px;
  color: ghostwhite;
  text-transform: uppercase;
  font-family: "Jersey 25", sans-serif;
}
.price .item-att-val {
  border-radius: 15px;
  border: 2px solid black;
  background-color: whitesmoke;
}
.order-config {
  margin: 10px 0;
  background-color: rgb(0, 84, 206);
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-family: "Jersey 25", sans-serif;
  font-size: 25px;
}

.order-config:hover {
  box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
  cursor: pointer;
}
#pagination-controls {
  text-align: center;
  margin: 20px;
}

#pagination-controls button {
  padding: 5px 15px;
  margin: 0 10px;
  background-color: ghostwhite;
  background-color: rgb(0, 84, 206);
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-family: "Jersey 25", sans-serif;
  font-size: 25px;
  box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
}

#page-info {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 84, 206);
  font-family: "Jersey 25", sans-serif;
  font-size: 25px;
}

.buy-form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
  font-family: "Jersey 25", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#order-car-details {
  display: flex;
  justify-content: space-evenly;
  border: none;
  box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
  background-color: whitesmoke;
  margin: 5px 0 30px 0;
}

.car-image-inner {
  height: 250px;
  width: 350px;
}
.car-details {
  display: flex;
  flex-direction: column;
}
.car-detail {
  margin: 5px 0;
}

#order-details {
  display: flex;
  flex-direction: column;  
  border: none;  
}

.order-details-inner {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.order-details-inner-2 {
  margin: 0 15px;
}

.order-details-inner-2 input {
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  padding: 2px;
  color: rgb(0, 84, 206);
}

.parts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.parts-inner {
  border: none;
}

#accesories {
  border: none;
  margin: 10px 0;
  display: none;
}
#chosen-accesories {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#chosen-accesories li {
  margin: 5px 0;
}

.accesory-delete,
.accesory-more,
.accesory-less {
  border: none;
  padding: 3px 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 0px rgb(105, 132, 173);
  background-color: rgb(0, 84, 206);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-family: "Jersey 25", sans-serif;
  font-size: 18px;
}

.add-order-btn {
  border: none;
  padding: 3px 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 0px rgb(105, 132, 173);
  background-color: rgb(0, 84, 206);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-family: "Jersey 25", sans-serif;
  font-size: 25px;
}

select {
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  padding: 2px;
  color: rgb(0, 84, 206);
  text-transform: uppercase;
  font-family: "Jersey 25", sans-serif;
  font-size: 25px;
}

.total-price {
  display: flex;
  justify-content: center;
}

.total-price p {
  color: rgb(0, 84, 206);
  font-family: "Jersey 25", sans-serif;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.order-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.order-buttons-btn {
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 24px 0px rgb(105, 132, 173);
  background-color: rgb(0, 84, 206);
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-family: "Jersey 25", sans-serif;
  font-size: 25px;
}

.validation-errors {
  display: flex;
  flex-direction: column;
}

footer {
  margin: 40px auto;
  text-align: center;
  color: black;
}

#logo {
  width: 200px;
  height: auto;
  display: block;
  margin: 20px auto;
}

#visit-card {
  display: flex;
  flex-direction: column;
  color: rgb(0, 84, 206);
  font-family: "Russo One", sans-serif;
}
